name: Unit Test

on:
  push:
    branches:
      - main
      - pipeline
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4.2.0
      - name: Install libs
        run: pip install -r requirements.txt
      - name: Unit test execution
        run: python -m unittest -v
